alembic
aniso8601
blinker
boto3
botocore
click
coverage
exceptiongroup
Flask
flask-cors
Flask-JWT-Extended
Flask-Login
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
flask-talisman
greenlet
gunicorn
iniconfig
itsdangerous
Jinja2
jmespath
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
pluggy
psycopg2-binary
PyJWT
pytest
pytest-cov
python-dateutil
python-dotenv
pytz
s3transfer
six
SQLAlchemy
tomli
typing_extensions
urllib3
Werkzeug
