alembic
aniso8601
blinker
boto3
botocore
s3transfer
urllib3
click
coverage
exceptiongroup
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Login
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
flask-talisman
greenlet
gunicorn
iniconfig
itsdangerous
Jinja2
jmespath
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
pluggy
psycopg2-binary
PyJWT
pytest
pytest-cov
python-dateutil
python-dotenv
pytz
six
SQLAlchemy
tomli
typing_extensions
Werkzeug
